<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
        
      body {
        background-color: lightblue;
      }

      h1 {
        color: blue;
        font-family: courier;
        text-align: center;
      }

      p {
        font-family: verdana;
        font-size: 20px;
      }
      tr {
        background-color: lightgreen;
        font-family: verdana;
        text-align: center;
        }
      tr:hover {background-color: #f5f5f5;}  
    </style>
  </head>    
  <body>
      
    <h1>Squirrel Sightings in Central Park</h1>
    <br></br>
    
    <p>Here is a listing of all squirrel sightings in Central Park.</p>
    
    <p>If you would like to update a sighting based on your discovery, please click the "Update This Sighting" buttom in front of every sighting row.</p>
    
    <p>Also, you can add your own new sightings and check out some summary statistics of these squirrels.</p>
    <br></br> 
    
    <p>
    <td>Interested in squirrel statistics?&nbsp;<a href="stats/">Check Summary Statistics</a></td>
    <br></br> 
    <td>See a squirrel at CP yourself?&nbsp;<a href="add/">Add a New Squirrel Sighting</a></td>
    </p>  
    <br></br>  
    
    <p>All squirrel sightings are listed here:</p>
    <table border=1 width = 3500>
      <tr>
        <th>Update</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>ID</th>
        <th>Shift</th>
        <th>Date</th>
        <th>Age</th>
        <th>Primary Fur Color</th>
        <th>Location</th>
        <th>Specific Location</th>
        <th>Running?</th>
        <th>Chasing?</th>
        <th>Climbing?</th>
        <th>Eating?</th>
        <th>Foraging?</th>
        <th>Kuks?</th>
        <th>Quaas?</th>
        <th>Moans?</th>
        <th>Tail Flags?</th>
        <th>Tail Twitches?</th>
        <th>Approaches?</th>
        <th>Indifferent?</th>
        <th>Runs from Human?</th>
        <th>Other Activities</th>
      </tr>
      {% for sighting in sightings %}
      <tr>
        <td><a href="{{sighting.usi}}/">Update This Sighting</a></td>
        <td>{{sighting.latitude}}</td>
        <td>{{sighting.longitude}}</td>
        <td>{{sighting.usi}}</td>
        <td>{{sighting.shift}}</td>
        <td>{{sighting.date}}</td>
        <td>{{sighting.age}}</td>
        <td>{{sighting.pfc}}</td>
        <td>{{sighting.location}}</td>
        <td>{{sighting.sl}}</td>
        <td>{{sighting.running}}</td>
        <td>{{sighting.chasing}}</td>
        <td>{{sighting.climbing}}</td>
        <td>{{sighting.eating}}</td>
        <td>{{sighting.foraging}}</td>
        <td>{{sighting.kuks}}</td>
        <td>{{sighting.quaas}}</td>
        <td>{{sighting.moans}}</td>
        <td>{{sighting.tf}}</td>
        <td>{{sighting.tt}}</td>
        <td>{{sighting.approaches}}</td>
        <td>{{sighting.indifferent}}</td>
        <td>{{sighting.rf}}</td>
        <td>{{sighting.oa}}</td>
      {% endfor %}
    </table>
  </body>

