<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
        
      body {
        background-color: lightblue;
      }

      h1 {
        color: blue;
        font-family: courier;
        text-align: center;
      }

      p1 {
        font-family: verdana;
        font-size: 20px;
      }
      
      p {
        font-family: verdana;
        font-size: 15px;
      }
      
      tr {
        font-family: verdana;
        text-align: center;   
        }
      tr:hover {background-color: #f5f5f5;}  
    </style>
  </head>  
  <body>
    <h1>Summary Squirrel Statistics</h1>
    <br></br>
    <p1>We have picked five out of 20+ attributes in our squirrel data and listed some interesting summary stats here:</p1>
    
    <p>1. Max longitude of all sightings: {{longitude_m.longitude_max}}</p>
    <p>2. Min latitude of all sightings: {{latitude_m.latitude_min}}</p>
    <p>3. Date of latest sighting recorded: {{date_m.date_max}}</p>
    <p>4. Squirrel head counts by age groups:</p>
    
	<table border=1>
		<tr>
			<th>Age Groups</th>
            <th>Counts</th>
		</tr>
		{% for a in age_c %}
			<tr>	
			{% for key,value in a.items %}
				<td style="vertical-align:middle;">{{value}}</td>				            {% endfor %}
			<tr/>
		{% endfor %}
	</table>
    <p>Note: Blank/? indicates users who recorded the sightings didn't record the age group/were unsure about it.</p>

    <p>5. Squirrel head counts by primary fur colors:</p>
	<table border=1>
                <tr>
                        <th>Primary Fur Color Types</th>
                        <th>Counts</th>
                </tr>
                {% for p in pfc_c %}
                        <tr>
                        {% for key,value in p.items %}
                        	<td style="vertical-align:middle;">{{value}}</td>
                        {% endfor %}
                        <tr/>
                {% endfor %}
	</table>
    <p>Note: Blank indicates users who recorded the sightings didn't record the primary fur color.</p>

  </body>
</html>
